@page "/locationtype/list"
@implements IDisposable

<h4 class="header">Location Type</h4>

<div class="mb-3 mt-3 d-flex">

    <button class="btn btn-info mr-3"
            @onclick="@(() => NavigationManager.NavigateTo("locationtype/entry/0"))">
        <span> + Add new </span>
    </button>
    <SearchBox SearchClick="HandlSearchClick" />
</div>

@if (locationTypeResult != null)
{
    <CustomGrid Entity="en.location_type" PagerSize="@(va.IsMobile ? 3 : 5)" PagesCount="locationTypeResult.PgCount" IsPagingNone="@isCustomPagingNone" TableLayout="table-layout"
                ItemList="@locationTypeResult.location_Types" GridRowClick="HandleRowClick" PagerClick="PagerClick" RowsCount="locationTypeResult.RCount" TablePaging="@(va.IsMobile? "true": "false")">
        <GridHeader>
            <SortableHeader CurOrder="CurSortInfo.Order" CurOrderBy="@CurSortInfo.OrderBy" Label="Myanmar Name*" OnHeaderClick="OnHeaderClick" OrderBy="name_mm" />
            <SortableHeader CurOrder="CurSortInfo.Order" CurOrderBy="@CurSortInfo.OrderBy" Label="English Name*" OnHeaderClick="OnHeaderClick" OrderBy="name_en" />
            @if (!va.IsMobile)
            {
                <SortableHeader CurOrder="CurSortInfo.Order" CurOrderBy="@CurSortInfo.OrderBy" Label="Region" OnHeaderClick="OnHeaderClick" OrderBy="region_id" />
                <SortableHeader CurOrder="CurSortInfo.Order" CurOrderBy="@CurSortInfo.OrderBy" Label="Township Code" OnHeaderClick="OnHeaderClick" OrderBy="tcode" />
            }
        </GridHeader>
        <GridRow>
            <td class="w-75-pixel">
                <span>@context.name_mm</span>
            </td>
            <td>
                <span>@context.name_en</span>
            </td>
            @if (!va.IsMobile)
            {
                <td>
                    @if (regions != null)
                    {
                        <span>@regions.FirstOrDefault(l => l.region_id == context.region_id)?.name_en</span>
                    }
                </td>
                <td>
                    <span>@context.tcode</span>
                </td>
            }
        </GridRow>
    </CustomGrid>
}

<MessageModal @ref="modal" />

@code {

    private string searchText;
    private MessageModal modal;
    private bool isCustomPagingNone;
    private int currentPage, gridHeight;
    private en.location_typeResult locationTypeResult;
    private IEnumerable<en.region> regions;
    private string elementID = Guid.NewGuid() + "locationtypelist";
    private (string OrderBy, en.shared.SortOrder Order) CurSortInfo;

    protected override void OnInitialized()
    {
        va.IsLoading = true;
        currentPage = 1;
        locationTypeResult = new en.location_typeResult();
        BrowserResize.OnResize += BrowserHasResized;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetData();
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        BrowserResize.OnResize -= BrowserHasResized;
    }

    #region Functions

    private async Task GetData()    // get data from server
    {
        try
        {
            locationTypeResult = await da.location_type.Get(new en.location_typeParam
            {
                Name = searchText,
                PgNo = currentPage,
                Order = CurSortInfo.Order,
                OrderBy = CurSortInfo.OrderBy
            });
             regions = await da.region.Get();
            va.IsLoading = false;
        }
        catch (Exception ex)
        {
            va.IsLoading = false;
            modal.Show("Message", ex.Message);
        }
    }

    private async Task HandlSearchClick(string text)
    {
        searchText = text;
        currentPage = 1;
        await GetData();
    }

    private async Task OnHeaderClick(string orderBy)
    {
        CurSortInfo = fn.CurrentSortInfo(orderBy);
        isCustomPagingNone = true;
        await GetData();
        isCustomPagingNone = false;
    }

    private Task HandleRowClick(en.location_type obj)
    {
        NavigationManager.NavigateTo("locationtype/entry/" + obj.locationtype_id);

        return Task.FromResult<object>(null);
    }

    private async Task PagerClick(int curpage)      // paging clicked event
    {
        currentPage = curpage;
        await GetData();
    }

    private async Task BrowserHasResized()
    {
        gridHeight = await JSRuntime.InvokeAsync<int>("CustomJsFunctions.setGridHeight", elementID);
        StateHasChanged();
    }

    #endregion
}
