<div class="top-row pl-3 navbar navbar-dark">
    @*<a class="navbar-brand" href="">Corona Doe</a>*@
    <div class="top-logo">
        <img src="image/mcf-logo.png" class="w-100 h-100" />
    </div>
    
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column" style="list-style-type:none;">
        <li class="nav-item px-1">
            <NavLink class="nav-link menu" href="#" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        @if (user_Account.point_admin_right)
        {
            <li class="nav-item px-1">
                <NavLink class="nav-link menu" @onclick="@(()=>  subMenuOpen("location"))">
                    <span class="oi oi-location" aria-hidden="true"></span> Location
                    <i class="fa fa-caret-down menu-icon"></i>
                </NavLink>/

                <ul class="subMenu" id="location" style="display:none;" @onclick="ToggleNavMenu">
                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="region/list">
                            <span class="fa fa-globe" aria-hidden="true"></span> Region
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="locationtype/list">
                            <span class="fa fa-map" aria-hidden="true"></span> Location Type
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="location/list">
                            <span class="fa fa-map-marker" aria-hidden="true"></span> Location
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="entrypointtype/list">
                            <span class="fa fa-taxi" aria-hidden="true"></span> Entry Point Type
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="entrypointcategory/list">
                            <span class="fa fa-bus" aria-hidden="true"></span> Entry Point Category
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="entrypoint/list">
                            <span class="fa fa-plane" aria-hidden="true"></span> Entry Point
                        </NavLink>
                    </li>

                </ul>
            </li>
        }


        @if (user_Account.entrypoint_user)
        {
            <li class="nav-item px-1">
                <NavLink class="nav-link menu" @onclick="@(()=>  subMenuOpen("entry"))">
                    <span class="fa fa-university" aria-hidden="true"></span> Entry
                    <i class="fa fa-caret-down menu-icon"></i>
                </NavLink>
                <ul class="subMenu" id="entry" style="display:none" @onclick="ToggleNavMenu">
                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="entryreason/list">
                            <span class="oi oi-list" aria-hidden="true"></span> Entry Reason
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="entryrecord/0">
                            <span class="fa fa-outdent" aria-hidden="true"></span> New Entry Record
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="entryrecord/list">
                            <span class="fa fa-search-plus" aria-hidden="true"></span> Search Entry Record
                        </NavLink>
                    </li>
                </ul>
            </li>
        }

        @if (user_Account.quarantine_user)
        {
            <li class="nav-item px-1">
                <NavLink class="nav-link menu" @onclick="@(()=>  subMenuOpen("quaratine"))">
                    <span class="fa  fa-universal-access" aria-hidden="true"></span> Quarantine
                    <i class="fa fa-caret-down menu-icon"></i>
                </NavLink>

                <ul class="subMenu" id="quaratine" style="display:none" @onclick="ToggleNavMenu">
                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="quaratinestation/list">
                            <span class="fa fa-university" aria-hidden="true"></span> Quarantine Station
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="quarantinerecord/entry/0">
                            <span class="fa fa-hospital-o" aria-hidden="true"></span>New Quarantine Record
                        </NavLink>
                    </li>

                    <li class="nav-item px-1">
                        <NavLink class="nav-link" href="quaratinerecord/list">
                            <span class="fa fa-search-plus" aria-hidden="true"></span>Search Quarantine Record
                        </NavLink>
                    </li>
                </ul>
            </li>

        }

        <li class="nav-item px-1" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" href="confirmrecord/list" @onclick="@(()=>  subMenuOpen("covid19"))">
                <span class="fa fa-file-text-o" aria-hidden="true"></span>COVID19 Confirm
            </NavLink>
        </li>
        <li class="nav-item px-1" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" href="feature/list" @onclick="@(()=>  subMenuOpen("feature"))">
                <span class="fa fa-clipboard" aria-hidden="true"></span>Feature
            </NavLink>
        </li>

        <li class="nav-item px-1" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" href="useraccount/list" @onclick="@(()=>  subMenuOpen("useraccount"))">
                <span class="fa fa-user-circle-o" aria-hidden="true"></span>User Account
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link">
                <form method="get" action="logout" name="myform" class="full">
                    <div class="menu" onclick="myform.submit()">
                        <span><i class="fa fa-sign-out"></i></span>Logout
                    </div>
                </form>
            </NavLink>
        </li>

        <li>
            <div class="version mar-right-25">
                <span class="font-11">v @va.AppVersion</span>
            </div>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    en.user_account user_Account = new en.user_account();
    private AuthenticationState authState;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnParametersSetAsync()
    {
        authState = await authenticationStateTask;
        if (!authState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("login");
        }
    }  

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            authState = await authenticationStateTask;
            user_Account = await da.user_account.Get(authState.User.Identity.Name);
            StateHasChanged();
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void subMenuOpen(string id)
    {
        JSRuntime.InvokeVoidAsync("CustomJsFunctions.openSubMenu", id);
    }
}
