@page "/quaratinestation/list"

<h3 class="header">Quarantine Station</h3>

@if (quarantineStations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="float-right mb-2">
        <button class="btn btn-info"
                @onclick="@(() => NavigationManager.NavigateTo("quarantinestation/entry/0"))">
            + Add new
        </button>
    </div>

    <CustomGrid Entity="en.quarantine_station" PagerSize="@(va.IsMobile ? 3 : 5)" PagesCount="5" IsPagingNone="@isCustomPagingNone" TableLayout="table-layout"
                ItemList="@quarantineStations" GridRowClick="ShowModel" PagerClick="PagerClick" RowsCount="5" TablePaging="@(va.IsMobile? "true": "false")">
        <GridHeader>
            <th>English Name</th>
            <th>Myanmar Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Capacity</th>
            <th>Discontinued</th>
            <th>Discontinued Date</th>
        </GridHeader>
        <GridRow>
            <td>
                <span>@context.name_en</span>
            </td>
            <td>
                <span>@context.name_mm</span>
            </td>
            <td>
                <span>@context.description</span>
            </td>
            <td>
                <span>@context.location_id</span>
            </td>
            <td>
                <span>@context.capacity</span>
            </td>
            <td>
                <span>@context.discontinued</span>
            </td>
            <td>
                <span>@context.discontinued_date</span>
            </td>
        </GridRow>
    </CustomGrid>
}

@code {
    private en.quarantine_station[] quarantineStations;

    private bool isCustomPagingNone;

    protected override async Task OnInitializedAsync()
    {
        string con_strng = da.shared.Variables.ConnString;
        var list = await da.quarantine_station.Get();
        quarantineStations = list.ToArray();
    }

    private Task HandleRowClick(int station_id)
    {
        NavigationManager.NavigateTo("quarantinestation/entry/" + station_id);

        return Task.FromResult<object>(null);
    }

    private async void ShowModel(en.quarantine_station obj)     // open entry modal
    {
    }

    private async Task PagerClick(int curpage)      // paging clicked event
    {
    }
}
