@page "/quaratinestation/list"
@implements IDisposable

<h4 class="header">Quarantine Station</h4>

<div class="mb-3 mt-3 d-flex">
    <button class="btn btn-info mr-3"
            @onclick="@(() => NavigationManager.NavigateTo("quarantinestation/entry/0"))">
        <span>+ Add new</span>
    </button>

    <SearchBox SearchClick="HandlSearchClick" />
</div>

@if (quarantineStationResult != null)
{
    <CustomGrid Entity="en.quarantine_station" PagerSize="@(va.IsMobile ? 3 : 5)" PagesCount="@quarantineStationResult.PgCount" IsPagingNone="@isCustomPagingNone" TableLayout="table-layout"
                ItemList="@quarantineStationResult.Quarantine_Stations" GridRowClick="HandleRowClick" PagerClick="PagerClick" RowsCount="@quarantineStationResult.RCount" TablePaging="@(va.IsMobile? "true": "false")">
        <GridHeader>
            <SortableHeader CurOrder="CurSortInfo.Order" CurOrderBy="@CurSortInfo.OrderBy" Label="Myanmar Name*" OnHeaderClick="OnHeaderClick" OrderBy="name_mm" />
            <SortableHeader CurOrder="CurSortInfo.Order" CurOrderBy="@CurSortInfo.OrderBy" Label="English Name*" OnHeaderClick="OnHeaderClick" OrderBy="name_en" />

            @if (!va.IsMobile)
            {
                <SortableHeader CurOrder="CurSortInfo.Order" CurOrderBy="@CurSortInfo.OrderBy" Label="Description" OnHeaderClick="OnHeaderClick" OrderBy="description" />
            }

        </GridHeader>
        <GridRow>
            <td>
                <span>@context.name_mm</span>
            </td>
            <td>
                <span>@context.name_en</span>
            </td>

            @if (!va.IsMobile)
            {
                <td>
                    <span>@context.station_id</span>
                </td>
            }

        </GridRow>
    </CustomGrid>
}

<MessageModal @ref="modal" />

@code {

    private en.quarantine_stationResult quarantineStationResult;

    private string searchText;
    private MessageModal modal;
    private bool isCustomPagingNone;
    private int currentPage, gridHeight;
    private string elementID = Guid.NewGuid() + "quastationstationlist";
    private (string OrderBy, en.shared.SortOrder Order) CurSortInfo;

    protected override void OnInitialized()
    {
        va.IsLoading = true;
        currentPage = 1;
        quarantineStationResult = new en.quarantine_stationResult();
        BrowserResize.OnResize += BrowserHasResized;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetData();
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        BrowserResize.OnResize -= BrowserHasResized;
    }

    #region Functions

    private async Task GetData()    // get data from server
    {
        try
        {
            quarantineStationResult = await da.quarantine_station.Get(new en.quarantine_stationParam
            {
                Name = searchText,
                PgNo = currentPage,
                Order = CurSortInfo.Order,
                OrderBy = CurSortInfo.OrderBy
            });
            va.IsLoading = false;
        }
        catch (Exception ex)
        {
            va.IsLoading = false;
            modal.Show("Message", ex.Message);
        }
    }

    private async Task HandlSearchClick(string text)
    {
        searchText = text;
        currentPage = 1;
        await GetData();
    }

    private async Task OnHeaderClick(string orderBy)
    {
        CurSortInfo = fn.CurrentSortInfo(orderBy);
        isCustomPagingNone = true;
        await GetData();
        isCustomPagingNone = false;
    }

    private Task HandleRowClick(en.quarantine_station obj)
    {
        NavigationManager.NavigateTo("quarantinestation/entry/" + obj.station_id);

        return Task.FromResult<object>(null);
    }

    private async Task PagerClick(int curpage)      // paging clicked event
    {
        currentPage = curpage;
        await GetData();
    }

    private async Task BrowserHasResized()
    {
        gridHeight = await JSRuntime.InvokeAsync<int>("CustomJsFunctions.setGridHeight", elementID);
        StateHasChanged();
    }

    #endregion Functions
}
